# Task 1
## SIRSS1177
### Abhishek Palrecha

# 1

In [1]:
for i in range (0,5):
    for j in range (5,i,-1):
        print("5",end="")
    print("")

55555
5555
555
55
5

# 2

In [18]:
k=0
for i in range (0,5):
    k=0
    for j in range (6,i,-1):
        print(k,end="")
        k = k+1
    print("")

012345
01234
0123
012
01

# 3

In [21]:
k=1
for i in range (0,5):
    for j in range (0,i+1):
        print(k,end="")
    print("")
    k=k+2

1
33
555
7777
99999

# 4

In [33]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print("")

1
21
321
4321
54321

# 5

In [34]:
k=1
for i in range (1,5):
    for j in range (i,0,-1):
        print(k,end="")
        k=k+1
    print("")

1
23
456
78910

# 7

In [38]:
k = 5
for i in range (1,k+1):
    for j in range (1,k+1):
        if i<=j:
            print(j,end="")
        else:
            print(i,end="")
    print("")

12345
22345
33345
44445
55555

# 8

In [39]:
k = 8
for i in range (1,k+1):
    for j in range (1,i+1):
        print(i*j,end=" ")
    print("")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# 9

In [41]:
k=1
for i in range(6,0,-1):
    for j in range(k,0,-1):
        print(" ",end="")
    k=k+1
    for j in range(0,i):
        print("*",end=" ")
    print("")

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

# 10

In [42]:
k=6
for i in range(0,7):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# 11

In [45]:
k =6
for i in range (0,k):
    for j in range (0,i+1):
        print("*",end=" ")
    print()
print()
for i in range (k,0,-1):
    for j in range (i,0,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# 12

In [46]:
k =5
for i in range (0,k):
    for j in range (0,i+1):
        print("*",end=" ")
    print()
for i in range (k-1,0,-1):
    for j in range (i,0,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*